header {
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3b49df;
}

h1 {
  font-family: "Segoe UI Semibold";
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 27px;
  font-weight: 700;
}

canvas {
  display: block;
}
